<div class="card w-100">
    <div class="d-flex">
        <img src="<%= resource.user.profile_pic_url %>" style="width: 50px; height: 50px;" class="rounded-circle ml-3 mt-3" alt="profile pic">
        <div class="card-body">
            <div class="d-flex align-items-baseline">
                <h5 class="card-title font-weight-bold"><%= resource.user %></h5>
                <span><%= link_to "#{time_ago_in_words(resource.created_at)} ago", resource, class: "text-muted ml-2" %></span>
            </div>
            <p class="card-text"><%= resource.content %></p>

            <% unless resource.retweet_from_id.nil? %>
              <%= render 'tweet', resource: resource.retweet_from %>
            <% end %>

            <div class="d-flex justify-content-around">
                <div>
                    <%= link_to fa_icon("retweet"), new_tweet_path({ reference: resource }), class: "text-muted" %>
                    <span class="text-muted"><%= resource.retweet_count %></span>
                </div>
                <div>
                    <% if user_signed_in? && resource.liked_by?(current_user) %>
                        <%= link_to fa_icon("heart"), tweet_like_path(resource, resource.get_like_id(current_user)), method: "delete", class: "text-danger" %>
                    <% else %>
                        <%= link_to fa_icon("heart-o"), tweet_likes_path(resource), method: "post", class: "text-muted" %>
                    <% end %>
                    <span class="text-muted"><%= resource.like_count %></span>
                </div>
            </div>
        </div>
    </div>
</div>
