<h1>Tweets</h1>

<%= render 'tweets/forms/new_form', tweet: @tweet %>

<table>
  <thead>
    <tr>
      <th>Tweet ID</th>
      <th>User</th>
      <th>Profile pic</th>
      <th>Content</th>
      <th>Retweets</th>
      <th>Likes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.id %></td>
        <td><%= tweet.user %></td>
        <td><img src="<%= tweet.user.profile_pic_url %>" style="width: 50px;" alt="profile pic"></td>
        <td><%= tweet.content %></td>
        <td><%= tweet.retweets %></td>
        <td><%= tweet.like_count %></td>
        <% if user_signed_in? %>
          <% if tweet.liked_by?(current_user) %>
            <td><%= link_to fa_icon("heart"), tweet_like_path(tweet, tweet.get_like_id(current_user)), method: "delete" %></td>
          <% else %>
            <td><%= link_to fa_icon("heart-o"), tweet_likes_path(tweet), method: "post" %></td>
          <% end %>
          <td><%= link_to 'Show', tweet %></td>
          <% if tweet.get_user_id == current_user.id %>
            <td><%= link_to 'Edit', edit_tweet_path(tweet) %></td>
            <td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Show more tweets', root_path(page: @page + 1) %>
<% unless @page == 1 %>
  <%= link_to 'Previous page', root_path(page: @page - 1) %>
<% end %>

