<% content_for :title, "Home" %>

<div class="d-flex flex-column h-100">

  <nav class="navbar navbar-light bg-light border">
    <a class="navbar-brand font-weight-bold">Twitter</a>
    <%= form_tag(tweets_path, method: "get") do %>
      <%= fa_icon("search") %>
      <%= text_field_tag :search, nil, placeholder: "Search Twitter", class: "from-control mr-sm-2 rounded-pill border px-3 py-1" %>
    <% end %>
  </nav>

  <div class="overflow-auto">

    <%= render 'tweets/forms/new_form', tweet: @tweet, class: "form-group" if user_signed_in? %>

    <% @tweets.each do |tweet| %>
      <%= render 'tweet', resource: tweet %>
    <% end %>

    <br>

    <div class="d-flex flex-column text-center align-items-middle">
      <%= link_to 'Show more tweets', tweets_path(page: @page + 1), class: "font-weight-bold h3" unless @tweets.length < 50 %>
      <%= link_to 'Previous page', tweets_path(page: @page - 1), class: "font-weight-bold" unless @page == 1 %>
    </div>

  </div>

</div>
