<p>
  <strong>Author:</strong>
  <%= @tweet.user %>
</p>

<p>
  <strong>Content:</strong>
  <%= @tweet.content %>
</p>

<p>
  <strong>Retweets:</strong>
  <%= @tweet.retweets %>
</p>

<div>
  <strong>Likes:</strong>
  <% unless @tweet.likes.length == 0 %>
    <div style="display: flex;">
      <% @tweet.likes.each do |like| %>
        <figure>
          <img src="<%= like.user_pic_url %>" alt="profile pic" style="width: 100px;">
          <figcaption><%= like.user %> liked this tweet.</figcaption>
        </figure>
      <% end %>
    </div>
  <% else %>
    <p>This tweet hasn't been liked yet.</p>
  <% end %>
</div>

<% if user_signed_in? && @tweet.get_user_id == current_user.id %>
  <%= link_to 'Edit', edit_tweet_path(@tweet) %> |
  <%= link_to 'Delete', @tweet, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', root_path %>
