<%= form_with(model: tweet, local: true) do |form| %>
  <div class="d-flex border p-3">
    <img src="<%= current_user.profile_pic_url %>" style="width: 60px; height: 60px;" class="rounded-circle ml-3 mt-3" alt="profile pic">

    <% if tweet.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

        <ul>
        <% tweet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="w-100">
      <div class="field pl-3">
        <%= form.text_area :content, placeholder: "What's happening?", class: "form-control" %>
      </div>

      <div class="d-flex mt-3">
        <%= form.submit "Tweet", class: "btn btn-primary rounded-pill px-3 font-weight-bold ml-auto" %>
      </div>
    </div>

  </div>

  <% unless params[:reference].nil? %>
    <div>
      <%= render 'tweet', resource: @reference %>
      <%= form.hidden_field :retweet_from_id, value: @reference.id %>
    </div>
  <% end %>
  
<% end %>
