<!DOCTYPE html>
<html>
  <head>
    <title>Twitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p id="notice"><%= notice %></p>
    <% unless user_signed_in? %>
      <% if current_page?(new_user_registration_path) %>
        <%= link_to  "Log in", new_user_session_path %>
      <% else %>
        <%= link_to  "Sign up", new_user_registration_path %>
      <% end %>
    <% else %>
      <%= link_to  "Sign out", destroy_user_session_path, method: "delete" %>
    <% end %>
      <%= yield %>
  </body>
</html>
