<!DOCTYPE html>
<html>
  <head>
    <title>Twitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p id="notice"><%= notice %></p>
    <p id="alert"><%= alert %></p>

    <% if user_signed_in? %>
      <%= link_to  "Log out", destroy_user_session_path, method: "delete" %>
    <% else %>
      <%= link_to  "Log in", new_user_session_path unless current_page?(new_user_session_path) %>
      <%= link_to  "Sign up", new_user_registration_path unless current_page?(new_user_registration_path) %>
      <%= link_to "Back to home", root_path if current_page?(new_user_registration_path) || current_page?(new_user_session_path) %>
    <% end %>

    <%= yield %>
  </body>
</html>
