<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> / Twitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container-fluid">


    <div class="row">
    <p id="notice"><%= notice %></p>
    <p id="alert"><%= alert %></p>

      <div class="col-2 border-right pl-4 vh-100 position-fixed">
        <div class="d-flex flex-column">
          <%= fa_icon "twitter", class: "text-primary fa-4x" %>
          <div class="mt-4 d-flex flex-column">
            <%= link_to fa_icon("home") +" Home", tweets_path, class: "text-dark h4 font-weight-bold" %>
            <% if user_signed_in? %>
              <%= link_to fa_icon("sign-out") + " Log out", destroy_user_session_path, class: "text-dark h4 font-weight-bold mt-3", method: "delete" %>
            <% else %>
              <%= link_to fa_icon("sign-in") + " Log in", new_user_session_path, class: "text-dark h4 font-weight-bold mt-3" unless current_page?(new_user_session_path) %>
              <%= link_to fa_icon("user-plus") + " Register", new_user_registration_path, class: "text-dark h4 font-weight-bold mt-3" unless current_page?(new_user_registration_path) %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-10 offset-2 vh-100 p-0">
        <%= yield %>
      </div>

    </div>
  </body>
</html>
